/* font */

@font-face {
  font-family: font-vazir;
  src: url(./font/font/vazir-font-v16.1.0/Vazir-Bold.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: font-nahed;
  src: url(./font/font/nahid/Nahid.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family:font-one;
  src: url(./font/iranyekan-extrabold.woff)format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: font-two;
  src: url(./font/iranyekan-medium.woff)format('woff');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: font-three;
  src: url(./font/iranyekan-regular.woff)format('woff');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: font-four;
  src: url(./font/peyda-extrabold.woff)format('woff');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: font-five;
  src: url(./font/peyda-medium.woff)format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: font-san;
  src: url();
}



body{

  font-family: sans-serif;
}



.icon-sa{
    font-size: 60px;
    color: #187c48;

}
.card{
    border:  0px;
}


.bor{
    border: solid 0.5px #ebebeb;
}
 


/* تغییر رنگ دکمه آکاردئون */
.accordion-button {
    background-color: white; 
    color: black;  */
  }
  
  /* تغییر رنگ دکمه آکاردئون وقتی باز است */
  .accordion-button:not(.collapsed) {
    background-color: white; 
    color: black;  
  }
  
  /* تغییر رنگ دکمه آکاردئون هنگام hover */
  .accordion-button:hover {
    background-color: #f8f9fa; 
  }



 
  /* تغییر رنگ کل آکاردئون وقتی فعال است */
  .accordion-item.active {
    background-color: #ff4d4d; 
  }


  .accordion-button:focus {
    outline: none; 
    box-shadow: none; 
    
  }

.hed-nav{
  z-index: 10;
}


.faq{

  z-index: 0;
}




.poshtbany{


}


/* hoover styel */   



.foot-icon{
  transition: color 0.3s, transform 0.3s

}


.foot-icon:hover{
border-radius: 100%;
background-color: #265841;
  
}


.navbar-text{
 
  color: #000000;

}
.navbar-text:hover{

  color: #29694c;
  
}
.btn-moshaver{
  color: #066137
}
.btn-moshaver-hover{
  color: #f8f9fa;
}



